<h1>Cyber Empire - les teams</h1>

<h4>total : <%= @teams.count %> lignes</h4>


<ul>
  <% @teams.each do |team| %>
    <li> id <%= team.id %> | apiID <%= team.foot_api_team_id %> | <%= team.name %> </li>
  <% end %>
</ul>
