<h1>Cyber Empire - les pronos</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div> <%= link_to "matches", matches_path  %> </div>
<div> <%= link_to "championships", championships_path  %> </div>
<div> <%= link_to "teams", teams_path  %> </div>
